<!--component html goes here -->
<div class="main-content">
        <div class="container-fluid">
            <div id="container">
                <div>
                <img src="..\\..\\assets\\img\\arts\\dynamism-of-a-biker-artwork-photo-1.jpg">
                </div>
                <div style=" background-color: white ; padding-left: 12px" >
                        <h3>Artist:</h3>
                        <h3>Description:</h3>
                        <p></p>
                    <h3>Price:</h3>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Comment"  style=" display: block;"pInputText type="text">
                    </mat-form-field>
                
                </div>
            </div>
        </div>
    </div>