<div class="main-content">
    <div class="container-fluid">
        <!-- <img src="Card" src="..\..\assets\img\angular2-logo-red.png"> -->
        <div id = "container">
            <!-- <p-card header="Advanced Card" [style]="{width: '200px'}">
                <p-header>
                    <img src="Card" src="..\..\assets\img\angular2-logo-red.png">
                </p-header>

            </p-card>
            <p-card header="Advanced Card" [style]="{width: '200px'}">
                <p-header>
                    <img src="Card" src="..\..\assets\img\apple-icon.png">
                </p-header>

            </p-card> -->
            <div >
                <img   src="..\..\assets\img\sidebar-1.jpg">
            </div>
            <div >
                <img  src="..\..\assets\img\angular2-logo-red.png">
            </div>
             <div   >
                    <img  src="Card" src="..\..\assets\img\sidebar-4.jpg">
            </div> 
            <div  >
                <img  src="..\..\assets\img\sidebar-1.jpg">
            </div>
            <div >
                    <img   src="..\..\assets\img\sidebar-2.jpg">
            </div>
            <div >
                <img  src="..\..\assets\img\sidebar-2.jpg">
            </div>
            <div >
                    <img  src="..\..\assets\img\sidebar-1.jpg">
            </div>
            <div >
                <img  src="..\..\assets\img\sidebar-4.jpg">
            </div>
            <div >
                    <img src="..\..\assets\img\sidebar-1.jpg">
                </div>
                <div >
                        <img   src="..\..\assets\img\sidebar-4.jpg">
                </div>
                <div >
                    <img  src="..\..\assets\img\sidebar-2.jpg">
                </div>
            
        </div>
    </div>
</div>