<!--component html goes here -->
<div class="main-content">
        <div class="container-fluid">
            <div id="container">
                <div>
                <img src="..\\..\\assets\\img\\cover.jpeg">
                </div>
                <div style=" background-color: white ; padding-left: 12px" >
                        <h3>Artist:</h3>
                        <h3>Description:</h3>
                        <p>...</p>
                    <h3>likes:{{likes}}</h3>
                    
                    <h3>Comments:</h3>
                    <div style=" background-color: rgb(209, 205, 205) ;" *ngFor="let col of cols">
                        <p>{{col.Name}} : {{col.Comment}}</p>
                    </div>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Comment"  style=" display: block;"pInputText type="text">
                    </mat-form-field>
                
                </div>
            </div>
        </div>
    </div>