// component css goes here
// component css goes here
#container img 
{
 width: 250px;
 height:250px;
 width: 80%;

 
padding-bottom: 50px;
}

#container div
{   
        margin-left: 20px;
        margin-top: 20px;
        width: 23%;
     
        float: left ;
        display: block;
     
       
}

#container h4
{
    margin-left: 14px;
}