// component css goes here
// component css goes here
// component css goes here

#container div{
    margin: auto;
    width:512px;
    padding-bottom: 10px;
   
}

#container div img{
 
    max-width:500px;
     
}