
<!-- Nav Bar -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand lead mb-0" href="#">art gallery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>        
        </ul>
      </div>
    </nav> -->
<!-- Main Header -->
<header class="main-header">
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <div class="main-content text-center">
          <h1 class="mb-1">Art Gallery</h1>
          <h3 class="mb-5">
            <em>This is Some Testing Text</em>
          </h3>
          <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</header>

<!-- About Section -->
<section class="about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="about-content text-center">
          <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus eligendi amet enim numquam incidunt in molestiae nisi doloremque corrupti aspernatur fuga commodi, cum quo impedit, eos magni nemo sequi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero dolor incidunt accusantium porro consectetur asperiores, illum accusamus ipsum placeat ea voluptate non, saepe, minus sunt tenetur itaque delectus quibusdam. Aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quis eligendi exercitationem laudantium nemo culpa eaque, ea enim quas nobis voluptatibus ducimus dolorum suscipit aliquam quia, officia tempore ex voluptas?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase" id="features">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-6 col-xs-12 muesum-img order-md-2"></div>
      <div class="col-md-6 col-xs-12 my-auto showcase-text">
        <h2>Museums Online</h2>
        <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 col-xs-12  exhibit-img"></div>
      <div class="col-md-6 col-xs-12 my-auto showcase-text">
        <h2>Art Exhibits</h2>
        <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
      </div>
      
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 col-xs-12 auction-img order-md-2"></div>
      <div class="col-md-6 col-xs-12 my-auto showcase-text">
        <h2>Auction</h2>
        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 col-xs-12 gift-shop-img "></div>
      <div class="col-md-6 col-xs-12 my-auto showcase-text">
        <h2>Gift Shop</h2>
        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 col-xs-12 community-img order-md-2"></div>
      <div class="col-md-6 col-xs-12 my-auto showcase-text">
        <h2>Community</h2>
        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
      </div>
    </div>
  </div>
</section>

 <!-- Footer -->
 <footer class="footer bg-light" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2 contact-list">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0 icon-list">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
