<!--component html goes here -->
<div class="main-content">
        <div class="container-fluid">
                <button pButton style="margin-left: 14px" label="Uplaod" type="button" (click)="upload()"  ></button>
                
                <h2>{{name}}</h2>
                <mat-form-field class="example-full-width">
                <input placeholder="Search..." matInput  style=" display: block;"pInputText type="text" >
                </mat-form-field>
            <!-- <img src="Card" src="..\..\assets\img\angular2-logo-red.png"> -->
      
                <!-- <p-card header="Advanced Card" [style]="{width: '200px'}">
                    <p-header>
                        <img src="Card" src="..\..\assets\img\angular2-logo-red.png">
                    </p-header>
    
                </p-card>
                <p-card header="Advanced Card" [style]="{width: '200px'}">
                    <p-header>
                        <img src="Card" src="..\..\assets\img\apple-icon.png">
                    </p-header>
    
                </p-card> -->
                
                <div class="nav" id = "container">
                        <div routerLinkActive="active"   *ngFor="let car of cars"  >
                                <!-- class="{{col.class}} nav-item"  -->
                        <!-- <a  href='/art'><img     [src]="col.url"></a> -->
                        <a class="nav-link" [routerLink]="['picture']" [queryParams]="{ id: [car.id]}" >  
                            <!-- [routerLink]="[col.path]" -->
                                <!-- <img     [src]="col.field"> -->
                                <img     src={{imageUrl}}{{car.image}}/>
                            </a>
                        <!-- <h4>{{car.name}}</h4> -->
                    </div>
                    </div>
    
            </div>
        </div>
    
        <p-dialog header="Put Your Art Informations" [(visible)]="displayDialog2"   [modal]="true" [width]="450">
                    
       
                   <form    #loginForm=ngForm>
                <li  style="list-style-type: none">
                    <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label style="font-weight:bold; color: black" >Art Name</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText [(ngModel)]="car.name" required class="form-control" name="name"  />
                            </div>
                        </div>
            </li>
            
        <li  style="list-style-type: none">
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label style="font-weight:bold; color: black" >Artist Name</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText [(ngModel)]="car.artist" required class="form-control" name="artist" />
                    </div>
                </div>
        </li>
        <li  style="list-style-type: none">
                <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label style="font-weight:bold; color: black" >Description</label>
                        </div>
                        <div class="ui-g-8">
                            <textarea pInputText [(ngModel)]="car.description" required class="form-control" name="description" ></textarea>
                        </div>
                    </div>
            </li>
      
            <span style="color: #2e2b2b;"><label class="btn btn-primary upload-btn" style="background: royalblue">
                Upload Image<input type="file" name="file" hidden multiple (change)="uploadFile($event)">
            </label>
            </span>
         
        <p-footer>
        <br>
                <button [disabled]="!loginForm.valid" type="submit" (click)="onSubmit()" class="btn btn-success"  > submit</button>
            
            
        </p-footer>
        </form>
        </p-dialog>